<div class="jumbotron">
  <div class="container">
    <h2 id="title">Politifinder</h2>
    {{#link-to 'index'}}Index{{/link-to}} -- {{#link-to 'committees'}}Committees{{/link-to}} -- {{#link-to 'recent-bills'}}Recent Bills{{/link-to}}
    
  </div>
</div>
{{outlet}}
