<h1>All Committees</h1>
  <p>click the committee to see it's subcommittees</p>
  <hr>
<ul>
  {{#each model as |committee|}}
    <li> {{#link-to 'subcommittee' committee.committee_id}}{{committee.name}}{{/link-to}}
      <br>
    </li>
  {{/each}}
</ul>
