{{#each model.legislator as |legislator|}}

  {{legislator-view legislator=legislator }}
{{/each}}

Bills Sponsored:
<ul>
{{#each model.bills as |bills|}}
  <li>{{bills.official_title}}</li>
{{/each}}
</ul>
